#let project_name_th = "ระบบบริหารจัดการการเรียนรู้ออนไลน์: การประเมินผล"
#let project_name_en = "E-Learning Management System: Assessment"
#let student_name_th = ""
#let student_name_en = ""
#let student_name_th = ""
#let student_id = ""
#let email_author = ""
#let website_author = ""
#let education_s_history = ""
#let education_s_year = ""
#let company_name = ""
#let company_name_en = "
